.vscode/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_ns/Listings/*
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_ns/Objects/*
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_s/Listings/*
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_s/Objects/*
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_ns/IOTKit_CM33_ns.uvguix.minta
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_s/IOTKit_CM33_s.uvguix.minta
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_s_ns.uvmpw.uvgui.minta
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_s/EventRecorderStub.scvd
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_ns/IOTKit_CM33_ns.uvguix.andy2
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_s/IOTKit_CM33_s.uvguix.andy2
scenario_1/MPS2plus_AN505/IOTKit_CM33_S_NS/IOTKit_CM33_s_ns.uvmpw.uvgui.andy2